In [1]:
import pandas as pd

In [2]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)

In [3]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [4]:
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [5]:
s.fillna(method = 'ffill')

C:\Users\olive\AppData\Local\Temp\ipykernel_1364\1946733153.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  s.fillna(method = 'ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [6]:
s.fillna(method = 'bfill')

C:\Users\olive\AppData\Local\Temp\ipykernel_1364\2705351094.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  s.fillna(method = 'bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [7]:
s.fillna(s.mean())

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

In [8]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [10]:
s1 = s.fillna(method = 'ffill', limit = 1)

C:\Users\olive\AppData\Local\Temp\ipykernel_1364\4216965306.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  s1 = s.fillna(method = 'ffill', limit = 1)

In [11]:
s1

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [12]:
s1.fillna(method = 'bfill')

C:\Users\olive\AppData\Local\Temp\ipykernel_1364\3947942890.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  s1.fillna(method = 'bfill')

0     0.50
1     0.50
2     0.52
3     0.52
4     0.54
5     0.54
6     0.59
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [13]:
atletas = pd.DataFrame([['Marcos', 9.62], ['Pedro', None], ['João', 9.69], 
                        ['Beto', 9.72], ['Sandro', None], ['Denis', 9.69], 
                        ['Ary', None], ['Carlos', 9.74]], 
                        columns = ['Corredor', 'Melhor Tempo'])
atletas

  Corredor  Melhor Tempo
0   Marcos          9.62
1    Pedro           NaN
2     João          9.69
3     Beto          9.72
4   Sandro           NaN
5    Denis          9.69
6      Ary           NaN
7   Carlos          9.74

In [14]:
atletas.fillna(atletas['Melhor Tempo'].mean())

  Corredor  Melhor Tempo
0   Marcos         9.620
1    Pedro         9.692
2     João         9.690
3     Beto         9.720
4   Sandro         9.692
5    Denis         9.690
6      Ary         9.692
7   Carlos         9.740